.container {
    text-align: center;
}
.dragula_container {
    width:300px;
    display:inline-block;
    border:1px solid green;
    height:500px;
    margin:50px;
}
.section-style {
    padding: 10px;
    background: white;
    margin: 5px;
    border: grey solid 2px;
    width: 100%
}
.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: scroll;
  }
  .scrollable-wrapper {
    width:50%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
  }
  .float-left {
    float: left
  }